@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background: var(--primary);
  font-family: "Exo", system-ui;
}

.dark {
  --primary: #ae4561;
  --secondary: #04471C;
  --tertiary: #ae4561;
  --light: #FFEE88;
  --dark: #020202;
}
.light {
  --primary: #241023;
  --secondary: #E94220;
  --tertiary: #D95D39;
  --light: #DFE0E2;
  --dark: #0E103D;
}

.default {
  --primary: #06C6B9;
  --secondary: #EB6F99;
  --tertiary: #FDF0D5;
  --light: #EBFEFE;
  --dark: #331832;
}



:root {}


