@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background: var(--primary);
  font-family: "Exo", system-ui;
}

:root {
  --primary: #ae4561;
  --secondary: #04471C;
  --tertiary: #FFEE88;
  --light: #020202;
  --dark: #ae4561;
}


